@mixin neuzeit-bold {
  font-family: 'NeuzeitGro-Bol', Futura, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
}

@mixin neuzeit-regular {
  font-family: 'NeuzeitGro-Reg', Futura, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

@mixin kepler-regular {
  font-family: 'kepler-std', 'Georgia', serif;
  font-weight: 400;
}

@mixin kepler-bold {
  font-family: 'kepler-std', 'Georgia', serif;
  font-weight: 700;
}