/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom_aab300dea2fb10b45deee98a61074d1c.eot");
  src: url("./fontcustom_aab300dea2fb10b45deee98a61074d1c.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom_aab300dea2fb10b45deee98a61074d1c.woff") format("woff"),
       url("./fontcustom_aab300dea2fb10b45deee98a61074d1c.ttf") format("truetype"),
       url("./fontcustom_aab300dea2fb10b45deee98a61074d1c.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-instagram:before,
.icon-okzident-logo:before,
.icon-okzident-mark:before,
.icon-tumblr:before {
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.icon-instagram:before { content: "\f100"; }
.icon-okzident-logo:before { content: "\f101"; }
.icon-okzident-mark:before { content: "\f102"; }
.icon-tumblr:before { content: "\f103"; }
